<footer class="footer mt-5 py-4" style="background-color: rgba(0, 0, 0, 0.7); color: white;">
  <div class="container">
    <div class="row align-items-center"> 
      <div class="col-lg-3 col-md-6">
        <img class="mb-3" src="../../../assets/images/nasa-logo.png" alt="NASA Logo" width="50">
        <h5>The National Aeronautics and Space Administration</h5>
        <p>NASA explores the unknown in air and space, innovates for the benefit of humanity, and inspires the world through discovery.</p>
        <a routerLink="/" class="text-decoration-none text-white font-weight-bold">About NASA's Mission</a>
      </div>
      <div class="col-lg-9 col-md-6">
        <div class="row">
          <div class="col-sm-4">
            <ul class="list-unstyled">
              <li><a routerLink="/" class="text-decoration-none text-white font-weight-bold font-size-lg">Home</a></li>
              <li><a routerLink="/" class="text-decoration-none text-white font-weight-bold font-size-lg">News & Events</a></li>
              <li><a routerLink="/" class="text-decoration-none text-white font-weight-bold font-size-lg">Multimedia</a></li>
              <li><a routerLink="/" class="text-decoration-none text-white font-weight-bold font-size-lg">NASA+</a></li>
              <li><a routerLink="/" class="text-decoration-none text-white font-weight-bold font-size-lg">Missions</a></li>
            </ul>
          </div>
          <div class="col-sm-4">
            <ul class="list-unstyled">
              <li><a routerLink="/" class="text-decoration-none text-white font-weight-bold font-size-lg">Missions</a></li>
              <li><a routerLink="/" class="text-decoration-none text-white font-weight-bold font-size-lg">Humans in Space</a></li>
              <li><a routerLink="/" class="text-decoration-none text-white font-weight-bold font-size-lg">Earth & Climate</a></li>
              <li><a routerLink="/" class="text-decoration-none text-white font-weight-bold font-size-lg">The Solar System</a></li>
              <li><a routerLink="/" class="text-decoration-none text-white font-weight-bold font-size-lg">The Universe</a></li>
            </ul>
          </div>
          <div class="col-sm-4">
            <ul class="list-unstyled">
              <li><a routerLink="/" class="text-decoration-none text-white font-weight-bold font-size-lg">Science</a></li>
              <li><a routerLink="/" class="text-decoration-none text-white font-weight-bold font-size-lg">Aeronautics</a></li>
              <li><a routerLink="/" class="text-decoration-none text-white font-weight-bold font-size-lg">Technology</a></li>
              <li><a routerLink="/" class="text-decoration-none text-white font-weight-bold font-size-lg">Learning Resources</a></li>
              <li><a routerLink="/" class="text-decoration-none text-white font-weight-bold font-size-lg">About NASA</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <hr>
    <div class="text-center">
      <div class="col-12">
        <p class="small d-inline-block">Page Last Updated: Apr 03, 2024</p>
        <p class="small d-inline-block mx-3">Page Editor: Hildélio Júnior</p>
        <p class="small d-inline-block">Responsible NASA Official: Abigail Bowman</p>
      </div>
    </div>
  </div>
</footer>
