<div class="container my-5 text-light">
  <div class="row">
    <div class="col-md-6">
      <div class="text-center">
        <h1 class="display-1">404</h1>
        <p class="lead">
          The cosmic object you were looking for has disappeared beyond the event horizon.
        </p>
        <div class="mt-4">
          <a routerLink="/" class="btn btn-primary mx-2">Return Home</a>
          <a routerLink="/contact" class="btn btn-secondary mx-2">Contact NASA</a>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card bg-dark text-light">
        <div class="card-body">
          <h2 class="card-title font-weight-bold">Rockets aren't the only thing we launch.</h2>
          <p class="card-text">
            Welcome to our improved NASA website! If you don't find what you are looking for, please try searching above, give us feedback, or return to the main site.
          </p>
          <div class="mt-3">
            <a routerLink="/" class="btn btn-primary mx-2">Sitemaps</a>
            <a routerLink="/feedback" class="btn btn-secondary mx-2">Feedback</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
